services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./public:/app/public
    command: npm run dev
    develop:
      watch:
        - action: sync
          path: ./src
          target: /app/src
    depends_on:
      database:
        condition: service_healthy

  database:
    image: mariadb:12.0
    environment:
      MARIADB_ROOT_PASSWORD: example
    volumes:
      - database_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 3s
      retries: 20

volumes:
  database_data: 
